<!doctype html>
<html lang="fr" ng-app="repertoire">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Repertoire</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
</head>

<body ng-controller="RepController">

	<div id="conteneur" class="container-fluid">
		<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 ">
			<h1>Répertoire</h1>
			<div id="chercher" class="pagination-centered">

				<input class="form-rep" type="text" ng-model="rechercher" placeholder="Rechercher par nom ou prénom">

				<select class="form-rep" name="services" ng-model="rec_service">
					<option value="">Tous les services</option>
					<option ng-repeat="service in services" value="{{service.nom}}">service : {{service.nom}}</option>

				</select>

			</div>
		</div>
			</div>
			<div class="container-fluid fiches">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


					<div id "liste" ng-show="rechercher||rec_service" class="">

						
				
					<div class="row">	
						
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="contact in contacts | filter: rechercher | filter: rec_service">
					
							
							<div class="Media">
         <div class="Media-figure">
         <img  src="photos/{{contact.photo}}">
</div>
         <div class="Media-body "><ul class="fiche">

										<li>
											<h4>{{contact.nom}} {{contact.prenom}}</h4>
										</li>

										<li>
											<b>Service : </b>{{contact.service}}</li>
										<li>
											<b>Tél. : </b>{{contact.tel}}</li>
										<li>
											<b>Mobile : </b>{{contact.tel}}</li>
									</ul></div>
      </div>
							
							
							
								
							
							</div> <!-- // ng repeat end -->
						</div>

					</div>
				</div>
			</div> <!-- // ng repeat end -->
		</div>
	</div>
</body>

</html>