html {
    height: 100%;
}
body{
	background: #6db4c6;
	background: -webkit-radial-gradient(50% 20%, farthest-side, #e3ebc8, #6db4c6);
	background: -moz-radial-gradient(50% 20%, closest-corner, #e3ebc8, #6db4c6);
	background: -ms-radial-gradient(50% 20%, closest-corner, #e3ebc8, #6db4c6);
	background-repeat: none;
	background-attachment: fixed;
	height: 100%;
    margin: 0;
	font-family: ‘open’, Arial, serif; 
}
#conteneur{
	padding-top: 70px;
	padding-bottom: 100px;
}
h1 { 
	font-family: ‘open’, Arial, serif; 
	font-weight: 800; 
	color:#fff;
	text-align: center;
	text-shadow: 1px 1px 5px #555;
}

.fiche{
	background:#ECF0F1;
	margin: 5px;
	padding: 5px;
	display:inline-block;
	width:100%;
}
.fiche div {
	padding:0;
}
ul{
	list-style-type: none;
}